.hero-section {
  position: relative;
  height: 90vh;
  color: #272444;
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
}

.hero-section-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section-message-title {
  margin-bottom: 40px;
  font-weight: 400;
}

.hero-section-message-title span {
  font-weight: bolder;
}

.hero-section-image-francia {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
}
.hero-section-image-francia:hover {
  transform: scale(1.1);
}

.hero-section-image-japon {
  position: absolute;
  bottom: 100px;
  left: 300px;
  transition: transform 0.3s ease;
  width: 300px;
  height: 300px;
}
.hero-section-image-japon:hover {
  transform: scale(1.1);
}
.hero-section-image-grecia {
  position: absolute;
  top: 50px;
  height: 400px;
  width: 400px;
  right: 0px;
  transition: transform 0.3s ease;
}
.hero-section-image-grecia:hover {

  transform: scale(1.1);
}
@media (max-width: 992px) {
  .hero-section-image-francia{
    top:380px;
    height: 100px;
    width: 100px;
  }
  .hero-section-image-grecia {
    height: 100px;
    width: 100px;
    top: 380px;
    left: 130px;
  }
  .hero-section-image-japon {
    height: 100px;
    width: 100px;
    left: 250px;
    top: 380px;
}
}
